#twitter-feed-container-footyindexscout {
   word-wrap: break-word;
        }
#twitter-feed-container-footyindexscout a {
    text-decoration: none;
}
#twitter-feed-container-footyindexscout h2 {
    margin: 0 0 15px 0;
        font-size: 18px;
            color: #000000;
    }
#twitter-feed-footyindexscout .user a img {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
#twitter-feed-footyindexscout .user div[title="Verified Account"] {
    display: inline;
}
#twitter-feed-footyindexscout .media img {
    max-width: 100%;
    height: auto;
}
#twitter-feed-footyindexscout .media {
    margin-top: 0;
    margin-bottom: 20px;    clear: both;
}
#twitter-feed-footyindexscout .user span:nth-child(2) {
    font-size: 16px;
        color: #000000;
        font-weight: bold;
}
#twitter-feed-footyindexscout .user span:nth-child(3) {
    font-size: 14px;
        color: #868686;
        font-weight: bold;
}
#twitter-feed-footyindexscout .user span:nth-child(3):hover {
        color: #46a3d9;
        -webkit-transition: color 250ms;
    -o-transition: color 250ms;
    transition: color 250ms;
    font-weight: bold;
}
#twitter-feed-footyindexscout ul {
    margin: 0;
    padding: 0;
}
#twitter-feed-footyindexscout li {
    list-style: none;
    margin-bottom: 20px;
        border-top: 1px solid #000000;
            padding-top: 20px;
        clear: both;
}
#twitter-feed-footyindexscout li:first-child {
    border-top: none;
        padding-top: 10px;
    }
#twitter-feed-footyindexscout p {
    color: #000000;
    margin: 0 0 10px;
}
#twitter-feed-footyindexscout .tweet {
    margin-bottom: 8px;    font-size: 14px;
    line-height: 1.35;
}
#twitter-feed-container-footyindexscout #twitter-feed-footyindexscout a {
        color: #868686;
    }
#twitter-feed-container-footyindexscout #twitter-feed-footyindexscout a:hover {
        color: #46a3d9;
        -webkit-transition: color 250ms;
    -o-transition: color 250ms;
    transition: color 250ms;
}
#twitter-feed-footyindexscout .tweet img {
    display: none;
}
#twitter-feed-container-footyindexscout #twitter-feed-footyindexscout .timePosted a {
    font-size: 12px;
        color: #46a3d9;
        margin-top: 10px;
    margin-bottom: 7px;
}
#twitter-feed-container-footyindexscout #twitter-feed-footyindexscout .timePosted {
        clear: both;
    }
#twitter-feed-footyindexscout .interact {
    font-size: 12px;
    }
#twitter-feed-footyindexscout .interact a {
    margin-left: 10px;
}
#twitter-feed-footyindexscout .interact a:first-child {
    margin-left: 0px;
}
#twitter-feed-footyindexscout .interact {
        clear: both;
    }